import QtQuick

QtObject{

    //Bar
    property color barBg: '#bf{{colors.surface.default.hex_stripped}}'
    property color barBorder: '{{colors.outline.default.hex}}'

    //Animated popup
    property color popupCol: '{{colors.surface_container.default.hex}}'

   //Arrowshape
    property color arrowborderCol: '{{colors.outline_variant.default.hex}}'
    property color arrowshapeCol: '{{colors.primary_container.default.hex}}'
    Behavior on arrowshapeCol { 
        ColorAnimation { duration: 500; easing.type: Easing.OutQuart } 
    }
    
    //Battery
    property int batwidth: 120        
    property int batheight: 30        
    property int batspacing: 5        
    property int batimgwidth: 21      
    property int batimgheight: 21     
    property string batfontfamily: ""
    // If battery text sits ON the arrow, use on_primary. If it sits on the bar, use on_surface.
    property color battextCol: '{{colors.on_primary_container.default.hex}}' 
    property string batFont: fontFamily
    property int batfontsize: 14

    //Bluetooth
    property int btwidth: 50           
    property int btheight: 30          
    property int btimgwidth: 20        
    property int btimgheight: 20       
    
    //Bluetooth Popup
    property int btpopupwidth: 250     
    property int btpopupheight: 220    
    property int btmenugap: -2         
    property url btpopupbackground:  Qt.resolvedUrl("/mnt/data/Utility OG/Pictures/nierViolin.jpg")
    property bool btblurEnabled: true
    property double btblur: 0.6
    property double btblurmax: 10
    property double btcontrast: 0.5
    property double btsaturation: 0.3
    property double btimageopacity: 0.5
    property double btbrightness: 0.1
    property double btcolorization: 0.46
    property color btcolorizationCol: '{{colors.surface_dim.default.hex}}'
    property string btFont: fontFamily
    property int btfontsize: 14

    //Clock
    property color clocktextCol: '{{colors.on_primary_container.default.hex}}'
    property int clockfontsize: 14
    property string clkFont: fontFamily

    //CPU
    property int cpuwidth: 120           
    property int cpuheight: 30           
    property int cpuspacing: 12          
    property color cpuUsagetextCol: '{{colors.on_primary_container.default.hex}}' 
    property int cpuUsagefontsize: 14
    property color cpuTemptextcol: '{{colors.on_primary_container.default.hex}}' 
    property int cpuTempfontsize: 14
    property string cpuFont: fontFamily

    //InternetConns
    property int intwidth: 50            
    property int intheight: 30           
    property int intimgwidth: 20         
    property int intimgheight: 20        
    
    //InternetConns Popup
    property int intpopupwidth: 500      
    property int intpopupheight: 300     
    property int intmenugap: -2          
    property url intpopupbackground: Qt.resolvedUrl("/mnt/data/Utility OG/Pictures/download (3).gif")
    property bool intblurEnabled: true
    property double intblur: 0.6
    property double intblurmax: 16
    property double intcontrast: 1.2
    property double intsaturation: 0.6
    property double intimageopacity: 0.356
    property double intbrightness: 0.3
    property double intcolorization: 0.46
    property color intcolorizationCol: '{{colors.surface_dim.default.hex}}'
    property string intFont: fontFamily
    
    //Mpris
    property color mprisfontCol: '{{colors.on_primary_container.default.hex}}'
    property string mprisFont: fontFamily
    property int mprisFontsize: 16

    //PulseWire
    property int pulsespacing: 10       
    
    //Volume
    property int pulseVolfontsize: 14
    property color pulseVolfontCol: '{{colors.on_primary_container.default.hex}}'
    property string pulseFont: fontFamily
    
    //Volume Db
    property int pulseDBfontsize: 14
    property color pulseDBfontCol: '{{colors.on_primary_container.default.hex}}'
    property string pulseDBFont: fontFamily

    //Tray
    property int trayiconSpacing: 12     
    property int trayiconHeight: 18      
    property int trayiconWidth: 18       
    
    //Tray Popup
    property color traypopuptextCol: '{{colors.on_surface_variant.default.hex}}'
    property int traymenugap: -8         
    property url traypopupbackground: Qt.resolvedUrl("/mnt/data/Utility OG/Pictures/download (59).jpeg")
    property bool trayblurEnabled: true
    property double trayblur: 0.6
    property double trayblurmax: 8
    property double traycontrast: 0.666
    property double traysaturation: 0.13
    property double trayimageopacity: 0.6
    property double traybrightness: 0.0
    property double traycolorization: 0.4
    property color traycolorizationCol: '{{colors.surface_dim.default.hex}}'
    property string trayFont: fontFamily
    property int trayFontSize: 16
    
    //Tray ChildPopup
    property color trayCpopuptextCol: '{{colors.on_surface_variant.default.hex}}'
    property int trayCmenugap: -12        
    property url trayCpopupbackground: Qt.resolvedUrl("/mnt/data/Utility OG/Pictures/download (55).jpeg")
    property bool trayCblurEnabled: true
    property double trayCblur: 0.6
    property double trayCblurmax: 8
    property double trayCcontrast: 0.666
    property double trayCsaturation: 0.13
    property double trayCimageopacity: 0.6
    property double trayCbrightness: 0.0
    property double trayCcolorization: 0.4
    property color trayCcolorizationCol: '{{colors.surface_dim.default.hex}}'
    property string trayCFont: fontFamily
    property int trayCFontSize: 16

    //WorkSpaces
    property int workspaceSpacing: 12  
    property string workspaceFontFamily : fontFamily

    //FONT STYLE
    property color fontCol: '{{colors.on_surface.default.hex}}'
    property string fontFamily: "Space Mono"
    property int fontSize: 14
}